{% extends 'base.html.twig' %}
{% form_theme form_create_promotion 'bootstrap_4_layout.html.twig' %}

{% block body %}



	{{ form_start(form_create_promotion) }}

	{{ form_row(form_create_promotion.annee, {
		'label':'Année de la promotion',
		'attr' : {
			'placeholder' : "Année de la promotion format XXXX/XXXX"
		}
	}) }}






	{# Bouton de création #}
	<button type="submit" class="btn btn-success mb-5">
		{% if editMode %}
    	Modifier la promotion
		{% else %}
			Créer la promotion
		{% endif %}

	</button>


{{ form_end(form_create_promotion) }}

{% endblock %}
