{% extends 'base.html.twig' %}
{% block title %}Espace entreprises{% endblock %}

{% block body %}

    <div class="actu">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{{ path('connexion') }}"><button type="button" class="btn btn-secondary"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Connexion</button></a>
            <a href="{{ path('contact_add') }}">  <button type="button" class="btn btn-secondary">Faire une demande de contact&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></button></a>
        </div>
        <h1>Espace entreprises</h1>
        <p>Cet espace a pour objectif de mettre en liaison les étudiants de licence professionelle informatique de l'IUT de Montpellier ansi que des entreprises avec une certaine demande de recrutement pour tout types de contrats,
        des alternaces, des CDI, des stages ou encore des CDD.</p>
        <p>L'intérêt est réellement partagé que ce soit pour les étudiants ou pour les entreprises.</p>
        <p>Les entreprises possédant un compte ont accès à une interface sur laquelle elles peuvent poster des offres d'emploies qui seront directement accessible par les étudiants sur leur compte.</p>
        <img src="{{ asset('build/images/company.png') }}" class="d-block w-100" alt="...">
    </div>

{% endblock %}
