<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nouvelle demande de contact</title>
</head>
<body>
<p>
    Bonjour, <br>
   Un nouveau contact souhaite s'inscrire au site des licences pro de l'IUT de Montepllier, <br>
    connecter vous au site pour accepter sa demamde.
</p>
</body>
</html>
