{% extends 'base.html.twig' %}

{% block title %}Formulaire de Convention de Stage{% endblock %}

{% block body %}
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<h1>Formulaire de convention de stage </h1>
    {{ form_start(form) }}



    {{ form_end(form) }}
{% endblock %}
