{% extends 'base.html.twig' %}

{% block body %}
<div>
	{{form_start(form)}}
	{{form_row(form)}}
	<button type="submit">Envoyer le fichier</button>
	{{form_end(form)}}
	<button class="btn btn-primary" onclick="window.history.go(-1); return false;">Annuler</button>
</div>
{% endblock %}
