/* assets */

.my_nav
{
  background-color: #FF5563 !important;
  margin-bottom : 3%;
  font-size: 130%;

}
.my_nav_item
{
  color: white !important;
}

.navbar-light .navbar-toggler
{
  border-color: white;
}

.navbar-light .navbar-toggler-icon
{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.table, form
{
  margin-top: 3%;
}

.title
{
  text-align: center;
  margin-bottom: 3%; 
  letter-spacing: 24px;
}

#carouselExampleCaptions
{
  margin-bottom: 3%;
}

.container
{
  margin-right: 0%;
  margin-left: 0%;
}

.actu h1, .actu img
{
  margin-top: 3%;
  margin-bottom: 3%;
}

.actu
{
  margin-left: 15%;
  margin-right: 15%;
}

.info-globales
{
  margin-left: 25%;
  margin-right: 25%;
}

.black-line
{
  height: 1px;
  background-color: black;
  margin-bottom: 5%;
  margin-top: 5%;
}

.actu h3
{
  text-align: center;
  margin-bottom: 3%;
}

.specialContainer
{
  width:100%;
  padding-left:10%;
  padding-right:10%;
}

.blog-post
{
  margin-bottom: 7%;
  padding: 5%;
  border: 3px solid #FF5563;
  border-radius: 15px;
}

.blog-title
{
  color: black;
}

.connexion
{
  text-align: center;
}

.bg-image-home
{
  background-image: url("http://lorempixel.com/1024/800/business");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lesClasses
{
  display: flex;
  flex-direction: column;
}

.lesTypesOffre
{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10%;
}

.bg-dark-opacity
{
	background-color: rgba(30, 30, 30, 0.7);
	-webkit-box-shadow: 0px 0px 15px 3px rgba(30, 30, 30, 0.7);
	-moz-box-shadow: 0px 0px 15px 3px rgba(30, 30, 30, 0.7);
	box-shadow: 0px 0px 15px 3px rgba(30, 30, 30, 0.7);
}

#userItem
{
  background-color: transparent;
  border-color: transparent;
  font-size: 90%;
}

footer
{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: #FF5563;
} 

footer a
{
  color: white;
}

footer a:hover
{
  color: white;
}

.btn-secondary
{
  background-color: #333;
}

.btn-secondary:hover
{
  color: white;
}

.footer-copyright
{
  background-color: #FF5563;
}

label.custom-file-label::after{
  content: "Ouvrir" !important;
}

input.custom-file-input::after{
  content: "Chercher" !important;
}

.is-error
{
  color : red;
}

