.tree {
	padding: 0;
	margin: 0;
}
.node {
	cursor: pointer;
	user-select: none;
	width: 100%;
}
.node::before {
	content: "\25B6";
	color: black;
	display: inline-block;
	margin-right: 0.5rem;
}
.node.active::before {
	transform: rotate(90deg);
}
.tree li {
	list-style-type: none;
}
.leaf {
	list-style-type: circle !important;
	margin: 1rem;
}
.tree ul {
	display: none;
}
.tree ul.active {
	display: block;
}

.dropdown-item .fa,
.dropdown-item .fas,
.dropdown-item .far {
	min-width: 1.5rem;
}