{% extends 'base.html.twig' %}

{% block title %}Les types d'offres d'emploi{% endblock %}

{% block body %}
    <div class="lesClasses">
        {% for type in types %}
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Offre {{ type.nomType }}</h5>
                    <a href="" class="btn btn-primary">Afficher</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
