{% extends 'base.html.twig' %}

{% block title %}Les types d'offres d'emploi{% endblock %}

{% block body %}
    <div class="info-globales">
        <div class="col">
            <p>Voici les différents types d'offres s'emploi :</p>
            <div class="lesTypesOffre">
                {% for type in types %}
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Offre {{ type.nomType }} ({{ type.NbOffres }})</h5>
                           {% if type.NbOffres > 0 %} <a href="{{ path('offres_id', {'id': type.id}) }}" class="btn btn-primary">Afficher les offres</a> {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
