{% extends 'base.html.twig' %}

{% block body %}
<h1>Rechercher un étudiant</h1>
<table id="example" class="display" style="width:100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Start date</th>
        <th>Salary</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>61</td>
        <td>2011/04/25</td>
        <td>$320,800</td>
    </tr>
    </tbody>
</table>

<script  type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
{% endblock %}
