{% extends 'base.html.twig' %}

{% block title %}Informations IUT Montpellier{% endblock %}

{% block body %}

	<main role="main" class="container">
		<div class="row">
			<div class="col-md-8 blog-main">
				<h3 class="pb-3 mb-4 font-italic border-bottom">Informations sur l'IUT de Montpellier</h3>

				{{ info.description|raw}}

			</div><!-- /.blog-main -->

		</div><!-- /.row -->
	</main><!-- /.container -->

{% endblock %}
